:root {
   --blanco: #FFF;
   --negro: #111111;
   --gris: #7c7c7c;
   --azul: #3498DB;
   --azul-hover: #10b4d1;

   --fuentePrincipal: 'Raleway', sans-serif;
}

body {
   background-color: var(--gris);
   font-family: var(--fuentePrincipal);
   font-size: 1.4rem;
   line-height: 1.8rem;
}

h1,
h2,
h3 {
   font-weight: 900;
   margin: 2rem 0 2rem 0;
}

h1 {
   font-size: 3 rem;
}

h2 {
   font-size: 2.2rem;
}

h3 {
   font-size: 1.8rem;
}

.btn {
   color: var(--blanco);
   background-color: var(--azul);
   border: 1px solid var(--gris);
   padding: .5rem .2rem;
   transition: background-color .3s;
}

.btn:hover {
   background-color: var(--azul-hover);
}

/* ------------------ MAIN-estructura  */
.wrapper {
   display: flex;
}

main {
   margin: 0 auto;
   width: 70%;
}

#contacto {
   background-color: #621c1a;
}

aside {
   width: 25%;
   background-color: #284923;
   margin: 0 auto;
}

body {
   background-color: #858585;
}

/* ------------------ HEADER */

header {
   background-image: url(../img/hero.jpg);
   background-size: cover;
   min-height: 60vh;
   margin-bottom: 10px;
   justify-content: center;
   text-align: center;
}

.slogan {
   background-color: rgba(255 255 255 / .5);
   display: flex;
   flex-direction: column;
   align-items: center;
   /* vertical-align: bottom; */
   width: 50%;
   margin: 0 auto;
   line-height: 3rem;
   position: absolute;
   left: 25%;
   top: 25%;
}

.btn-contact {
   position: absolute;
   left: 45%;
   top: 55%
}

/* ----------------- NAV */

nav {
   display: flex;
   justify-content: space-around;
   height: 50px;
   background-color: var(--gris);
   width: 100%;
}

a {
   text-decoration: none;
   text-transform: capitalize;
   color: var(--blanco);
}

nav .logo {
   align-self: center;
}

#navbar {
   display: flex;
   list-style: none;
   gap: 2rem;
   align-items: center;
   font-size: 1.4rem;
}

#navbar a:hover {
   background-color: rgba(255, 255, 255, 0.8);
   color: var(--azul-hover);
   border-radius: 5px;
}

/* ------ hamburger nav menu */
#sideNav {
   display: none;
}

#navBtn {
   display: none;
   left: 3px;
   top: 0px;
   z-index: 2;
   cursor: pointer;
}

/* ------------ @QUERIES => ESTRUCTURA + NAV */

@media screen and (max-width: 900px) {
   .wrapper {
      flex-direction: column;
   }

   aside,
   main {
      width: 98%;
   }

   .slogan {
      left: 0px;
      width: 100%;
   }
}

@media screen and (max-width: 750px) {
   #navBtn {
      display: block;
   }

   #navbar {
      display: none;
   }

   #sideNav {
      display: block;
      list-style: none;
      padding-top: 10px;
      margin-top: 50px;
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 2;
      transition: 0.5ms;
      background-color: #33E2FF;
      line-height: 3rem;
   }

   #sideNav li a:hover {
      background-color: var(--gris);
      color: var(--blanco)
   }
}

/* -------------------- GALERIA - MAIN*/
/* photos */
#galeria {
   margin-top: 50px;
}

.photos {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   justify-content: center;
}

.imagen img {
   width: 300px;
   height: 100%;
   border-radius: 5px;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1210px) {
   .imagen img {
      width: 400px;
   }
}

@media screen and (max-width: 925px) {
   .imagen img {
      width: 100%;
   }
}

/* --------------------- ASIDE */

aside {
   height: auto;
   text-align: center;
   line-height: 2.2rem;
}

aside .imagen img {
   width: 98%;
   margin: 2rem 0;
   border-radius: 5px;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.493);
}

/* -------------------- CONTACTO - MAIN*/

.contact-title {
   margin: 100px 0;
   padding: 20px 0 0 0;
   text-align: center;
}


.contact {
   padding: 30px 0 20px 20px;
   display: flex;
   align-items: center;
}

@media (max-width: 1040px) {
   .contact {
      flex-direction: column;
   }

   .input-group {
      width: 75%;
   }
}

.contact-left {
   width: 40%;
   display: flex;

}

.contact-left img {
   width: 200px;
}

/* ----------------- formulario */

form {
   max-width: 600px;
}

.input-group {
   margin-bottom: 20px;
}

input,
textarea {
   width: 90%;
   padding: 5px;
   background-color: #7c7c7c;
}

@media (max-width: 1100px) {
   form {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

button {
   padding: 5px;
   background-color: var(--azul);
   color: #fff;
   padding: 6px;
   display: inline-block;
   transition: 0.3s;
   border-radius: 5px;
}

button:hover {
   background-color: var(--azul-hover);
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.493);
}

/* ------------------------- FOOTER */

.footer {
   color: var(--blanco);
}

.copyright {
   background-color: var(--negro);
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 1rem 0 0 0;
   padding: 1rem;
}

.icons {
   display: flex;
   justify-content: center;
}

.icons i {
   font-size: 30px;
   margin: 0px 10px;
}
